
<body>
    <div class="container">
        <h1>Message Page</h1>
        <div class="chat-box">
            <div class="message">
                <p>Hello! How are you?</p>
                <span class="time-right">10:00 AM</span>
            </div>
            <div class="message darker">
                <p>I'm good, thanks! How about you?</p>
                <span class="time-left">10:02 AM</span>
            </div>
            <div class="message">
                <p>Doing well, thank you!</p>
                <span class="time-right">10:05 AM</span>
            </div>
        </div>
        <form id="messageForm">
            <input type="text" id="messageInput" placeholder="Type your message here..." required>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
