.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 450px;
    height: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  .search-bar:focus {
    border-color: #3498db;
  }
  