<div class="sidebar">
    <ul>
        <li><i class="fas fa-tachometer-alt"></i><app-dname></app-dname></li>
      <li><i class="fas fa-tachometer-alt"></i> Dashboard</li>
      <li><i class="fas fa-calendar-alt"></i> Time Table</li>
      <li><i class="fas fa-chalkboard-teacher"></i> Teacher</li>
      <li><i class="fas fa-users"></i> User</li>
      <li><i class="fas fa-book"></i> Subject</li>
      <li><i class="fas fa-envelope"></i> Message</li>
      <li><i class="fas fa-bullhorn"></i> Announcement</li>
      <li><i class="fas fa-comments"></i> Feedback</li>
      <li><i class="fas fa-exclamation-triangle"></i> Grievances</li>
      <li><i class="fas fa-money-bill-wave"></i> Fee Management</li>
      <li><i class="fas fa-user-check"></i> Attendance</li>
    </ul>
  </div>
  
