
<body>
    <div class="container">
        <div class="sidebar">
            <h2>ERP System</h2>
            <ul>
                <li><a routerLink="dashboard">Dashboard</a></li>
                <li><a routerLink="timetable">Time Table</a></li>
                <li><a routerLink="subject">Subject</a></li>
                <li><a routerLink="library">Library</a></li>
                <li><a routerLink="laundry">Laundry</a></li>
                <li><a routerLink="attendence">Attendance</a></li>
                <li><a routerLink="message">Message</a></li>
                <li><a routerLink="fee">Fee Management</a></li>
                <li><a routerLink="feedback">Feedback</a></li>
                <li><a routerLink="announcement">Announcements</a></li>
            </ul>
           
        </div>
        

        <div class="main-content">
            <div class="header">
                <h1>Welcome to ERP System</h1>
            </div>

            <div class="content">
                <p>This is the homepage of the ERP system. You can access various modules from the sidebar.</p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</body>




